<div class="form-group">
    <label for="title">Name.</label>
    <input required value="<%= article.title %>" type="text" name="title" id='title'
    class="form-control">
</div>
<div class="form-group">
    <label for="description">Description.</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Address.</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>




<!-- /////////////**********************/////////////// -->
<!-- <div class="form-group">
    <label for="title">Name.</label>
    <input required type="text" name="title" id='title'
    class="form-control">
</div>
<div class="form-group">
    <label for="description">Address.</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="description">Date Of Birth.</label>
    <input required type="text" name="title" id='title'
    class="form-control">
</div>
<div class="form-group">
    <label for="description">Phone Number.</label>
    <input required type="text" name="title" id='title'
    class="form-control">
</div>
<div class="form-group">
    <label for="description">Email.</label>
    <input required type="text" name="title" id='title'
    class="form-control">
</div>
<div class="form-group">
    <label for="description">Description.</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="description">Treatment(s).</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="description">Isurance.</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="description">Primary Doctor.</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div> -->